#breedImagesSlider {
    transition: transform 0.5s ease-in-out;
}

#indicatorDots button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #6b7280; /* Gray color */
    transition: background-color 0.3s ease;
}

#indicatorDots button.active-dot {
    background-color: #4b5563; /* Darker gray for active dot */
}
